<div ng-init="createBoard();" id="board1" style="width: 40%"></div>
<div>
  {{solutionNum}}
  <div>
    <br>
    <span>Board Size:
      <select name="mySelect" id="mySelect" ng-options="option.name for option in boardOption.availableOptions track by option.id" ng-model="boardOption.selectedOption" ng-change="createBoard(boardOption.selectedOption.value)">
      </select>
    </span>
    <div>
      <span ng-init="chessPiece = 'q'">Chess Piece:
      <label><input type="radio" ng-model="chessPiece" value="q">   Queen</label>
      <label><input type="radio" ng-model="chessPiece" value="r">   Rook</label>
    </span>
    </div>

    <div>
      <span>
      Number of Solutions: {{solutions}}
    </span>
    </div>

    <button ng-click="updateBoard(boardOption.selectedOption, chessPiece)">Solve!</button>
  </div>
</div>